body {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    overflow: hidden;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.circle1 {
    position: absolute;
    top: -50px;
    left: -50px;
}

.circle2 {
    position: absolute;
    right: -50px;
    bottom: -50px;
}